* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carAlbum {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  column-gap: 5px;
  row-gap: 20px;
}
.flexCarCards {
  font-size: 12px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 450px;
  background-color: rgb(244, 242, 242);
  border: 2px solid #ff4d30;
  border-radius: 5%;
}
.modelCard {
  display: flex;
  justify-content: space-between;
}
.modelCard h2 {
  font-size: 20px;
}
.modelCard-p {
  color: grey;
  display: flex;
  align-items: center;
  gap: 5px;
}

.middleCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.middleCard img {
  object-fit: scale-down;
  overflow: hidden;
}

.carFeatures {
  display: flex;
}
.carModel {
  flex-basis: 59%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
.featureDetails {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}
.capacity {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.luggages,
.passengers,
.smokefree,
.road,
.ac,
.transmission,
.gps,
.age {
  display: flex;
  align-items: center;
  gap: 10px;
  color: grey;
}
.actions {
  flex-basis: 39%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
}
.moreButton,
.bookButton {
  padding: 10px;
  font-size: 22px;
  width: 90%;
  text-align: center;
  color: #ffffff;
  background-color: #ff4d30;
  text-decoration: none;
}
