.flexCarCards {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 450px;
}
.modelCard {
  display: flex;
  justify-content: space-between;
}
.modelCard-p {
  color: grey;
  display: flex;
  align-items: center;
  gap: 5px;
}

.middleCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.middleCard img {
  object-fit: scale-down;
  overflow: hidden;
}

.carFeatures {
  display: flex;
}
.carModel {
  flex-basis: 59%;
  display: flex;
  flex-direction: column;
}
.featureDetails {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}
.capacity {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.luggages,
.passengers,
.smokefree,
.road,
.ac,
.transmission,
.gps,
.age {
  display: flex;
  align-items: center;
  gap: 10px;
  color: grey;
}
.actions {
  flex-basis: 39%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
}
.moreButton,
.bookButton {
  padding: 10px;
  font-size: 22px;
  width: 90%;
  text-align: center;
  color: #ffffff;
  background-color: tomato;
  text-decoration: none;
}
