* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex-team {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
}
.arrow {
  color: tomato;
  z-index: 1;
  cursor: pointer;
}
.arrow:hover {
  color: gold;
}
.arrow-right {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translate(0, -50%);
}
.arrow-left {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translate(0, -50%);
}
.icons {
  position: absolute;
  bottom: -1rem;
  right: 50%;
  transform: translate(50%, 0);
  display: flex;
  gap: 0.5rem;
  color: tomato;
}
.icon {
  color: grey;
}

.icon:hover {
  color: beige;
}
