* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.flex-team {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
}
.arrow {
  color: tomato;
  z-index: 1;
  cursor: pointer;
}
.arrow:hover {
  color: gold;
}
.arrow-right {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translate(0, -50%);
}
.arrow-left {
  position: absolute;
  left: 0.5rem;
  top: 50%;
  transform: translate(0, -50%);
}
.icons {
  position: absolute;
  bottom: 0.5rem;
  right: 50%;
  transform: translate(50%, 0);
  display: flex;
  gap: 0.5rem;
  color: tomato;
}
.icon {
  font-size: small;
}
.icon:hover {
  color: beige;
}
/* -----Style for the boxes */
.teamCardBox {
  width: 300px;
  position: relative;
}
.teamCardBox h3 {
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
}
.teamCardIcon {
  position: absolute;
  right: 0.5rem;
  color: tomato;
  bottom: 1rem;
}
.teamCardDescriptoin {
  position: absolute;
  left: 0rem;
  right: 0rem;
  top: 15rem;
  bottom: 0rem;
  background-color: rgb(0, 0, 0, 0.7);
  color: gold;
}
