.container-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 12rem;
  gap: 1rem;
  background-color: whitesmoke;
}
.title-control {
  display: flex;
  justify-content: center;
}
fieldset {
  border: none;
  display: flex;
  gap: 50px;
  margin: 10px 0;
}
