.container-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 1rem;
  padding: 3rem 0;
  margin: 2rem 0;
}
.search input {
  padding: 0 5px;
  height: 30px;
  border-radius: 5%;
}
.title-control {
  display: flex;
  justify-content: center;
}
.container-control select {
  border-radius: 5%;
  height: 30px;
}
fieldset {
  flex-basis: 25%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: none;
  gap: 10px;
  margin: 0 1rem;
}
@media screen and (max-width: 950px) {
  .container-control {
    margin: 4rem 0;
  }
}

@media screen and (max-width: 650px) {
  fieldset {
    grid-template-columns: repeat(1, 1fr);
  }
}
