.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* grid-template-rows: repeat(2, 1fr); */
  column-gap: 50px;
  row-gap: 50px;
  margin-top: 20px;
}
.form-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-grid-item select,
.form-grid-item input {
  width: 100%;
  margin: 10px 0;
  height: 50px;
  border-radius: 5px;
  color: #878585;
  border: 1px solid #ccd7e6;
  padding-left: 10px;
}
.date {
  height: 50px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #ccd7e6;
  padding: 0 0 0 10px;
  color: #878585;
  margin: 10px 0;
}
