* {
  box-sizing: border-box;
}
.carSuggestion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
  overflow-x: hidden;
}

.carSuggestionCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carSuggestionCarousel h3 {
  color: tomato;
  font-size: 36px;
  margin-top: 20px;
}
.carSuggested {
  position: relative;
  width: 100vw;
  margin: 0 10px;
  scale: 0.8;
}
.arrows {
  position: absolute;
  top: 50%;
  color: tomato;
}

.arrows:hover {
  animation: flash 0.5s forwards;
  cursor: pointer;
}

.right {
  right: 0;
  z-index: 100;
}
.left {
  left: 0;
}
.slick-prev:before,
.slick-next:before {
  font-size: 24px;
  color: tomato; /* Change this to your desired color */
}
.slick-slide > div {
  margin: 0 20px;
}
@keyframes flash {
  0% {
    opacity: 1;
  } /* Start fully visible */
  50% {
    opacity: 0;
  } /* Halfway through, become invisible */
  100% {
    opacity: 1;
  } /* End fully visible */
}
