.logo-text-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.logo-text-container img {
  height: 45px;
}
.text-box {
  font-size: large;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 600px) {
  .text-box {
    font-size: small;
  }
}
